<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
        <title>
            <%= title%>
        </title>
</head>

<body>

    <!-- <div class="ui segment"> -->
        <%- include('../partials/nav.ejs',{id: 4,username: username}) %>

        <div class="ui raised very padded text container green segment">
                <h2 class="ui block header">
                    <div class="content"><i class="heartbeat icon"></i>
                        Diabetes Diagnosis
                        <div class="sub header">Check if you have diabetes or not</div>
                    </div>
                </h2>
                <div class="ui attached message">
                    <div class="header">
                        Fill in your health parameters
                    </div>
                    <p>Please fill all the health parameters accurately for a better prognosis.</p>
                </div>
                <form class="ui form attached fluid segment" method="POST" action="/api/prediction/dd"
                    onsubmit="myFunction()">
                    <div class="ui labeled input">
                        <div class="ui label">
                          Person's Name :
                        </div>
                        <input type="text" name="name" required placeholder="Enter Person's Name Here">
                      </div>
                      <br> <br>
                    
                    <div class="field">
                        <label>Pregnancies</label>
                        <input type="text" name="Pregnancies" required placeholder="Enter your number of pregnancies here" required
                            value="12">
                    </div>
                    <div class="field">
                        <label>Glucose Level</label>
                        <input type="text" name="glucose" required placeholder="Enter your glucose level here" required
                            value="84.0">
                    </div>
                    <div class="field">
                        <label>Blood Pressure</label>
                        <input type="text" name="BloodPressure" required placeholder="Enter your blood pressure here" required
                            value="72.0">
                    </div>
                    <div class="field">
                        <label>Insulin</label>
                        <input type="text" name="Insulin" required placeholder="Enter your insulin level" required
                            value="169.5">
                    </div>
                    <div class="field">
                        <label>Body Mass Index (BMI)</label>
                        <input type="text" name="BMI" required placeholder="Enter your bmi here" required value="29.7">
                    </div>
                    <div class="field">
                        <label>Age</label>
                        <input type="number" name="age" required placeholder="Enter your age here" required value="46">
                    </div>
                    <input type = "hidden" name = "username" value = <%= username %> />
                    <button class="ui button" type="submit">Submit</button>
                </form>
            <!-- </div> -->
</body>
<div class="ui dimmer">
    <div class="ui text loader">Loading</div>
</div>

</div>
<script>
    function myFunction() {
        // alert("The form was submitted");
        $('.dimmer').dimmer('show');
    }

    // $('.dimmer').dimmer('show');


</script>

</html>