<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
        <title>
            <%= title%>
        </title>
</head>

<body>

    <%- include('../partials/nav.ejs',{id: 3,username: username}); %>

        <div class="ui raised very padded text container segment">
            <h2 class="ui block header">

                <div class="content"><i class="heartbeat icon"></i>
                    Miscellaneous Clinical Diseases Diagnosis Result
                    <div class="sub header">The effectiveness of the output is subjected to change</div>
                </div>
            </h2>

            <div class="ui blurring segment">

                <div class="ui raised very padded text segment error message">

                    <h2 class="ui header">
                        Oops, it seems like you might have <%=prediction%>!
                    </h2>
                    <p> Disclaimer: The prediction may not be very accurate</p>

                </div>

                <div class="ui dimmer">
                    <div class="ui info message">
                        <div class="header">
                            Ready for the result?
                        </div>
                        <p>Whatever the result is, do not panic.</p>
                        <p>It is just a prediction.</p>
                    </div>

                </div>

            </div>
        </div>
</body>

<script>
    $('.dimmer').dimmer('show');

    $('.result')
        .transition('set looping')
        .transition('bounce', '2000ms')
        ;</script>


</html>